  .affix {
    transition:padding 0.2s ease-out;
  }

  .bodyformat {
    margin-left: 100px;
  }

  .col-md-2 {
    color: #333333;
    text-decoration: none;
  }

  .container {
      overflow: auto;
  }

  .contentmargin {
    margin-top: 100px;
  }

  .custom {
    color: red;
  }

  .dropdown-menu {
    background-color: #333333;
  }

  .h1custom {
    color: #FDFEFE;
    padding-left: 10%;
    position: absolute;
    top: 140px;
    width: 100%;
  }

  .imgsize {
    filter: brightness(70%);
    height: 300px;
    width: 100%;
  }

  .imagemargin {
    margin-top: 100px;
  }

  .navbar-collapse {
    padding-top: 10px;
  }

  .navbar-collapse li {
     color: #ffffff;
  }

  .nav a:hover,
  .nav .active a {
    background-color: #333;
    color: #ffffff;
  }

  .navbar-fixed-top {
    background-color: #010101;
    opacity: 0.8;
    padding-bottom: 15px;
    width: 100%;
  }

  .nav>li>a {
    color: #ffffff;
  }

  .nav>li>a:hover{
    color: #333;
  }

  .navbar-toggle .icon-bar {
    background-color: #333;
    border-radius: 1px;
    display: block;
    height: 1px;
    text-align: center;
    width: 22px;
  }

  .page{
    margin-top: 100px;
  }

  .par2{
    font-size: 30px;
  }

  .row {
    padding-top: 100px;
  }


  @media (min-width:768px) and (max-width: 880px) {
    .affix-top {
      background: #000000;
      border-color: transparent;
      padding: 15px;
      transition:all 0.5s ease;
    }

    .navbar-collase {
      border-top: 1px solid transparent;
    }

    .navbar-nav>li {
      float: none;
    }

    .navbar-right {
      float: none;
    }

  }
